{% load static %}
    <div class="container">
        <div class="row mt-2 custom-border justify-content-center align-items-center">
            <div class="col-12 col-md-5 p-4 d-flex align-items-center">
                <div class="text-container d-flex flex-column align-items-left">
                    <h2 class="hero-text text-left">Home Sweet Home</h2>

                    <p>Where life begins and love never ends.</p>
                    <div>
                        <a class="btn btn-red btn-lg text-brown " href="{% url 'products' %}">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 mt-3 d-flex justify-content-center">
                <img class=" hero-image img-fluid" src="{% static 'images/hero.webp' %}" alt="Furniture store">
            </div>
        </div>
    </div>