{% load static %}

<!-- Header-->
<header>
    <nav class="container-fluid navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brands nav-link font-weight-bold" href="/">Furniture Hall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-home"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
             
            <li class="nav-item dropdown active">
              <a class="navbar-brand logo-font font-weight-bold nav-link text-black mr-3" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Shop
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                  <a href="" class="dropdown-item">Kitchen</a>
                  <a href="" class="dropdown-item">Light</a>
                  <a href="" class="dropdown-item">Rugs</a>
                  <a href="" class="dropdown-item">Childrens Room</a>
                  <a href="" class="dropdown-item">Canvas</a>
              </div>
          </li>
            </li>

            <li class="nav-item dropdown">
              <a class="navbar-brand logo-font font-weight-bold nav-link text-black mr-3" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  All Products
              </a>
              <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                  <a href="" class="dropdown-item">By Price</a>
                  <a href="" class="dropdown-item ">By Rating</a>
                  <a href="" class="dropdown-item ">By Category</a>
                  <a href="#" class="dropdown-item">All Products</a>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="navbar-brand logo-font font-weight-bold nav-link text-black mr-3" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Living Room
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item">Soffa</a>
                <a href="" class="dropdown-item">Tv bank</a>
                <a href="" class="dropdown-item">Soffa Table</a>
                <a href="" class="dropdown-item">All Sitting Room Deco</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-brand logo-font font-weight-bold nav-link text-black mr-3" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bed Room
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
              <a href="" class="dropdown-item">Bed</a>
              <a href="" class="dropdown-item">Madress</a>
              <a href="" class="dropdown-item">Wardrobe</a>
              <a href="" class="dropdown-item">Makeup Table</a>
              <a href="" class="dropdown-item">All Bedroom Deco</a>
          </div>
      </li>

      <li class="nav-item dropdown">
        <a class="navbar-brand logo-font font-weight-bold nav-link text-black mr-3" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Special Offers
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
            <a href="" class="dropdown-item">New Arrivals</a>
            <a href="" class="dropdown-item">Deals</a>
            <a href="" class="dropdown-item">Clearance</a>
            <a href="" class="dropdown-item">All Specials</a>
        </div>
    </li>

  </ul>
          <form action="" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 w-75" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-none my-2 my-sm-0" aria-label="search" type="submit"><i
                class="fa fa-search"></i></button>
          </form>
        </div>

        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg" id="account"></i></div>
                <p class="my-0" id="account">Account</p>
              </div>
            </a>
            <div class="dropdown-menu py-0 border-0 rounded-lg bg-light shadow-lg" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="dropdown-item py-3">Admin</a>
              <a href="" class="dropdown-item py-3">Add Item</a>
          
              <hr class="border-primary py-1 w-50">
              {% endif %}
              <a href="" class="dropdown-item py-3">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item py-3">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item py-3">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item py-3">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if cart_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link"
              href="#">
              <div class="text-center">
                <div><i class="fas fa-shopping-cart fa-lg" id="account"></i></div>
                <p class="my-0" id="account">
                  {% if subtotal %}
                  €{{ subtotal|floatformat:2 }}
                  {% else %}
                  €0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
</nav>
  </header>