@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,600;1,400&display=swap');


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.navbar-brands {
    color: var(--red);
    font-size: 25px;
}


.navbar-brand {
    font-size: 15px;
    color: var(--black);
    margin-left: 10px;
}
.navbar-nav .nav-link {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    
}

.nav-link:hover{
    color: red;

}

#account {
    color: black;
}

/* End Nav */


/* Style hero page */
.btn-red {
    background-color: var(--red);
    color: var(--white);
}

.btn-red:hover {
    color: var(--dark-gray);
}

.hero-btn {
    box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
}

.bg-red {
    background-color: var(--red);
}
.custom-border {
    border: var(--red) 1px solid;
    border-radius: 20px;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}

.text-red {
    color: var(--red);
}

.text-brown {
    color: var(--white);
}

.custom-icon i {
    font-size: 50px;
    color: var(--red);
}
/* End hero page */

.text-black {
    color: #000 !important;
}

#footer {
    background-color: rgb(219, 230, 230);
}

.copyright {
    margin-left: 30px;
}

.contact {
    margin-left: 10px;

}

.stripe-img {
    width: 30vh;
}

/* Spacify each product for the order */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* Add to bag */
.btn-black {
    background-color: var(--red);
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid rgb(141, 38, 38);
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}


/* Rating */
.fa-star {
    color: rgba(228, 224, 18, 0.897);
}

@media (min-width: 1200px) {
    .stripe-img{
        margin-left: 180Px;
    }
}