@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,600;1,400&display=swap');


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.navbar-brands {
    color: var(--red);
    font-size: 25px;
}


.navbar-brand {
    font-size: 15px;
    color: var(--black);
    margin-left: 10px;
}
.navbar-nav .nav-link {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    
}

.nav-link:hover{
    color: red;

}

#account {
    color: black;
}

/* End Nav */


/* Style hero page */
.btn-red {
    background-color: var(--red);
    color: var(--white);
}

.btn-red:hover {
    color: var(--dark-gray);
}

.hero-btn {
    box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
}

.bg-red {
    background-color: var(--red);
}
.custom-border {
    border: var(--red) 1px solid;
    border-radius: 20px;
    box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 5px 7px 26px -4px rgba(0, 0, 0, 0.66);
}

.text-red {
    color: var(--red);
}

.text-brown {
    color: var(--white);
}

.custom-icon i {
    font-size: 50px;
    color: var(--red);
}
/* End hero page */


#footer {
    background-color: rgb(219, 230, 230);
}

.copyright {
    margin-left: 30px;
}

.contact {
    margin-left: 10px;

}

.stripe-img {
    width: 30vh;
}

@media (min-width: 1200px) {
    .stripe-img{
        margin-left: 180Px;
    }
}